# Created by .ignore support plugin (hsz.mobi)
# data
/data/mysql/*
/data/redis/*

#logs
/logs/mysql/*
/logs/nginx/*
/logs/php/*

!/app/index.html
!/app/index.php
!/app/mysql.php
!/app/redis.php

/.idea
